@import "semantic-ui";

.chatbox {
  height: 450px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.mb-8 {
  margin: 2rem;
}

.text-5xl {
  font-size: 3rem !important;
}

.ui.vertical.menu {
  width: auto;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}
