<div class="container">
  <% flash.each do |name, msg| %>
    <% if name == "notice" || name == "success" %>
      <% attr = "success" %>
    <% else %>
      <% attr = "negative" %>
    <% end %>
    <div class="ui message <%= attr %>" role="alert">
      <i class="close icon"></i>
      <div class="header">
        <%= msg %>
      </div>
    </div>
  <% end %>
</div>